
.header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    background-color: #18181b;
}
.cont{
    width: 100%;
}
.inputtext{
    display: flex;
    width: 15rem ;
}
.inputs{
    width:100%;
    background-color: #282c34;
    color:white;
    padding: 0.35rem 1rem;
    border: none ;
    border-radius: 0.4rem;
}
.flowcont{
    display: flex;
    gap: 20px;
    width: 32%;
}
.flow{
    background-color: transparent;
    width: 3rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    border-radius: 0.3rem;
    border: solid 1px #7ea6ff; 
    border-radius: 5px;
}
.res{
    background-color: transparent;
    border:none;
    width: 5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    border-radius: 0.3rem;
}
.flowcont {
    display: flex;
    gap: 10px;
  }
  
  .flow,
.res {
  padding: .2rem .5rem;
  border: 1px solid transparent;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: color 0.3s, border-color 0.3s;
}

.flow.active,
.res.active {
  color: #7ea6ff;
  border-color: #7ea6ff;
}

.flow:not(.active),
.res:not(.active) {
  /* color: #fff; */
  border-color: transparent;
}

  .selected {
    border: solid 1px #7ea6ff; /* Add a border to the selected element */
    color:#7ea6ff;
    border-radius: 1px; /* Optional rounded corners */
  }
  
.buttonshare{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.savenshare{
    display: flex;
}
.btn{
    color:white;
}
.btn1{
    font-family: "Open Sans";
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0 2rem 0 0;
  padding: 0.5rem 1.4rem;
  background-color: #4ad380;
  color: white;
  border: none;
  border-radius: 0.5rem;
}
.close{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
}
.cona{
    background-color: #282c34;
    width: 100%;
    height: 90vh;
    z-index: 1;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.hrcontainer{
    position: relative;
    width: 20rem;
    height: 92.2%;
    left: 1.5rem;
    margin-top: 2rem;
    padding: 1rem;
    border: solid 1px #282c34;
    border-radius: 0.4rem;
    z-index: 1;
    background-color: #18181b;
    overflow: hidden;
}
.bubblecont{
    margin-top:3rem ;
    font-family: "Open sans";
    font-weight: 600;
    font-size: 1rem;
}
.bubbles{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-top: 10px;
}
.content{
    display: flex;
    flex-direction: row;
    gap:10px;
    background-color: #282c34;
    color: #fff;
    padding: 10px;
    border-radius: 0.4rem;
    justify-items: center;
    img{
        width: 20px;
    }
}
.allinputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    top:10rem;
    left: 43%;


    
}
.allinputs1{
    display: grid;
    grid-template-rows: 1fr;
    padding: 1rem;
    gap:1rem;
    height: 60vh;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}
.contents{
    display: flex;
    flex-direction: row;
    width: 14rem;
    gap:10px;
    background-color: #18181b;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 0.4rem;
    justify-items: center;
    font-weight: 600;
    font-size: 20px;
    margin-bottom:30px ;
    img{
        width: 20px;
    }
}
.contents1{
    display: flex;
    flex-direction: column;
    width: 13rem;
    height: auto;
    max-height: 8rem;
    background-color: #18181b;
    color: #fff;
    padding: 10px;
    border-radius: 0.4rem;
    justify-items: center;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    input{
        margin-top:10px ;
        background-color: #282c34;
        border-radius: 0.4rem;
        border: solid 1px red;
        height: 2rem;
        padding-left: 10px;
    }
    .delete{
        width: 1.5rem;
        position: absolute;
        top:-0.6rem;
        right: -0.6rem;
    }
}
.error-text{
    font-size: 0.7rem;
    font-weight: 400;
}
.inputs11{
    color:white;
}
.sharecont{
    display: flex;
    flex-direction: column;
    width: 35rem;
    padding: 1rem 2rem;
    position: fixed;
    background-color: #18181b;
    top :10rem;
    right: 5rem;
    border-radius: 0.5rem;
    z-index: 99;
    .emailcont{
      display: flex;
      flex-direction: row;
      gap:10px;
      justify-content: space-between;
    }
    .emailinv,.linkinv{
      font-family: "Open sans";
      font-size: 1.5rem;
      font-weight: 600;
    }
    .dd{
      height: 1.5rem;
      border-radius: 0.3rem;
      background-color: #282c34;
      color: #fff;
      display: flex;
      align-self: center;
    }
    .inputs1{
      background-color: #282c34;
      margin-bottom: 30px;
      border: solid 1px #4b83ff;
      height: 3rem;
      border-radius: 0.5rem;
      color: #fff;
      font-size: 1rem;
      padding-left: 1rem;
    }
    .copy,.copy1{
      height: 2.5rem;
      border: none;
      border-radius: 0.8rem;
      background-color: #1a5fff;
      color: #fff;
      font-size: 0.8rem;
      font-weight: 600;
    }
    .close{
      padding: 1rem;
      width: 1rem;
      position: absolute;
      top:0.1rem;
      right: 0.5rem;
    }
    .copy1{
      margin-bottom: 2rem;
    }
  }